/* src/components/GuideSection.css */
.guide-section {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
}

.section-title {
  color: #ff5555;
  text-shadow: 1px 1px 8px rgba(0, 255, 0, 0.7);
}

.glitch {
  animation: glitch 1.3s infinite;
}
