/* src/components/Header.css */
.header {
  background-color: #333;
  color: #eee;
  text-align: center;
  padding: 20px;
  text-shadow: 2px 2px 10px rgba(255, 0, 0, 0.7);
  animation: flicker 1.5s infinite;
}

.flicker {
  animation: flicker 1.5s infinite;
}
